.toast{
  width: 20rem;
  height: 3rem;
  background-color: white;
  position: absolute;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  animation: fade 3s;
}

@keyframes fade{
  0% {
    opacity: 0;
  }
  20% {
    opacity:1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:0;
  }

}
