.teamCarousel{
  display: flex;
  flex-direction: row;
  animation: slide 40s infinite linear;
  width: 100%;
  width: calc(100px * 60);
  mix-blend-mode: multiply;

  .teamLogo{
    width: 100px;

    img{
      width: 70px;
      cursor: pointer;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100px * 30));
  }
}
