.teamCarouselWrapper{
  overflow: hidden;

  .teamCarousel{
    display: flex;
    flex-direction: row;
    animation: slide 40s infinite linear;
    width: 100%;
    width: calc(6.25rem * 60);
    mix-blend-mode: multiply;

    .teamLogo{
      width: 6.25rem;

      .teamLogoImage{
        width: 4.5rem;
        height: 4.5rem;
        cursor: pointer;
        object-fit: contain;

        &.active{
          border: red 2px solid;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-6.25rem * 30));
  }
}
