.teamCarouselWrapper{
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .teamCarousel{
    display: flex;
    flex-direction: row;
    animation: slide 40s infinite linear;
    width: calc(6.25rem * 60);
    mix-blend-mode: multiply;

    .teamLogo{
      width: 6.25rem;

      .teamLogoImage{
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        object-fit: contain;
        border-radius: 50%;

        &.active{
          box-shadow: 0 0 0 3px #FFEBD6;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-6.25rem * 30));
  }
}
