.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #FFF0E1;

  h1{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
  }

  button{
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    border: 0.125rem solid black;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }

  .buttonArrow{
    padding-left: 2.5rem;
  }

  a{
    text-decoration: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
