body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  background-color: #FFF0E1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (min-width: 1680px){
  html{
    font-size: 1.5rem;
  }
}
