.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-weight: bold;

  .burger{
    display: none;
  }

  .logo{
    padding-left: 1.5rem;
    cursor: pointer;

    svg{
      width: 8em;
    }
  }

  nav{
    display: flex;
    justify-content: space-around;
    width: 50%;

    div{
      cursor: pointer;
    }
  }
}

@media (max-width: 900px){
  .navbar{
    justify-content: center;
    height: 60px;
    position: relative;

    .logo{
      svg{
        width: 6em;
      }
    }

    .burger{
      display: inline;
      position: absolute;
      left: 20px;
      cursor: pointer;
        div {
          width: 2rem;
          height: 2px;
          background-color: black;
          margin: 5px 0;
        }
    }

    nav{
      text-align: left;
      position: absolute;
      top: 60px;
      padding: 1rem;
      width: 6rem;
      left: 0;
      flex-direction: column;
      background-color: #FFF0E1;
      display: none;

      &.burgerMenuOpen{
        display: flex;
      }

      .burgerLine{
        padding: 1rem;
      }
    }
  }
}
