.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-weight: bold;

  .burger{
    display: none;
  }

  .logo{
    padding-left: 1.5rem;
    cursor: pointer;

    svg{
      width: 8em;
    }
  }

  nav{
    display: flex;
    justify-content: space-around;
    width: 50%;

    div{
      cursor: pointer;
    }
  }
}

@media (max-width: 600px){
  .navbar{
    justify-content: center;
    height: 60px;

    .logo{
      svg{
        width: 6em;
      }
    }

    .burger{
      display: inline;
    }

    nav{
      position: absolute;
      top: 60px;
      left: 0;
      height: calc(100vh - 60px);
      flex-direction: column;
      background-color: pink;
      display: none;

      &.burgerMenuOpen{
        display: flex;
      }
    }
  }
}
